$twoColWidth: calc(50% - 2.6666%);
$threeColWidth: calc(33.333% - 2.6666%);
$fourColWidth: calc(25% - 2.6666%);

@mixin fourColLayout($itemName){
	width: 100%;
	display: grid;
	grid-template-columns: $twoColWidth $twoColWidth;
	column-gap: 4%;
	
	@include at-least($tp){
		grid-template-columns: $threeColWidth $threeColWidth $threeColWidth;
	}
	
	@include at-least($tlp){
		grid-template-columns: $fourColWidth $fourColWidth $fourColWidth $fourColWidth; 
	}
	
	
	.#{$itemName}{
		margin-top:25px;
		
		&:nth-child(1){ margin-top: 0; }
		
		@include at-least($tp){
			&:nth-child(2){ margin-top: 0; }
		}
		
		@include at-least($tl){
			&:nth-child(3),
			&:nth-child(4){ margin-top: 0; }
		}
	} // end .item
}