@mixin globalMaxWidth(){
	width: calc(100% - 13.62vw);
	margin-left: 6.81vw;
	margin-right: 6.81vw;
	
	@include until($tp){
		width: calc(100% - 50px);
		margin-left: 25px;
		margin-right: 25px;
	}
	
	@include at-least($dxl){
		width: calc(100% - 186px);
		max-width: 1920px;
		margin-left: 93px;
		margin-right: 93px;
	}
}


@mixin smallerMaxWidthAdmin(){
	width: calc(100% - (12.45% * 2));
	margin-left: 12.45%;
	margin-right: 12.45%;
}

@mixin smallerMaxWidthAdmin(){
	width: calc(100%);
	margin-left: 0;
	margin-right: 0;
}