/*--------------------------------------------------------*/
/*------------------------- COLORS -----------------------*/
/*--------------------------------------------------------*/

$white: #fff;
$black: #242721;
$blue: #a2c9e8;
$blueLight: #d6ebfc;
$grey: #AFAFAF;
$greyDark: #505050;
$greyLight: #E2E2E2;
$greenDark: #414833;
$green: #646D4A;
$greenLight: #A3AC86;
$brown: #936639;
$brownDark: #7F4F24;
$red: #fb3939;
