/*--------------------------------------------------------*/
/*------------------------- COLORS -----------------------*/
/*--------------------------------------------------------*/

$white: #fff;
$black: #4d5256;
$blue: #a2c9e8;
$blueLight: #d6ebfc;
$grey: #4d4f50;
