/////////////////////////////
//////// Text Sizes /////////
/////////////////////////////

// $fSize = font size
// $lHeight = line height
// $lSpacing = letter spacing
// copy example below to use
// fontSize(16px, 1.3, .01em/normal);
@mixin fontSize($fSize, $lHeight, $lSpacing){
	font-size: $fSize;
	line-height: $lHeight;
	letter-spacing: $lSpacing;
}

// $sizeLow = minimum font size
// $sizeHigh = maximum font size
// $lHeight = line height
// $lSpacing = letter spacing
// copy example below to use
// scalableFont(16, 35, 1.3, .01em/normal);
@mixin scalableFont($sizeLow, $sizeHigh, $lHeight, $lSpacing){
  
	font-size: #{$sizeLow}px;
	line-height: $lHeight;
	letter-spacing: $lSpacing;
	
	@include at-least($tp){
		font-size: calc(#{$sizeLow}px + #{$sizeHigh - $sizeLow} * ((100vw - 768px) / (1920 - 768)));
	}
	
	@include at-least($dxl){
		font-size: #{$sizeHigh}px;
	}
  
}

@mixin h1(){
	@include robotoBold();
	@include fontSize(40px, 46px, normal);
}

@mixin h2(){
	@include fontSize(32px, 38px, normal);
}

@mixin h3(){
	@include fontSize(26px, 32px, normal);
}

@mixin h4(){
	@include fontSize(22px, 28px, normal);
}

@mixin h5(){
	@include fontSize(22px, 28px, normal);
}

@mixin h6(){
	@include fontSize(22px, 28px, normal);
}

@mixin para(){
	@include fontSize(16px, 26px, normal);
}