.editor-styles-wrapper{
	
	@import "mixins";
	
	body{
		margin: 9px 10px;
	}
	
	.mce-ico {
		font: normal 20px/1 dashicons;
	}
	
	.mce-caret {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: 0;
		height: 0;
		vertical-align: top;
		border-top: 4px solid #b5bcc2;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		content: "";
	}
	
	@import "compile";
	
	#tinymce{
		ul{
			padding-left: 25px;
		}
	}
	
	.is-root-container{ 
		margin-top: 25px; 
		margin-bottom: 25px;
	}
	
	.mce-content-body{
		padding: 10px;
		
		h1,h2,h3,h4,h5,h6,p,ul,ol{
			margin-bottom: 10px;
		}
		
	}
	
		.block-image .container{ width: 100% !important; margin: 0; }
	
}

html .editor-styles-wrapper :where(.wp-block){
	max-width:  calc(100% - 96px) !important;
	&:not(:last-child){
		margin-bottom: 20px;
	}
}