@import "main";
//@import 'vendor/bootstrap/bootstrap-grid';

body{
	margin: 9px 10px;
}



/*.edit-post-layout__metaboxes:not(:empty){
		max-width: 500px !important;

		@include at-least($d){
			max-width: 800px !important;
		}

		@include at-least($dl){
			max-width: 1000px !important;
		}
}

.green-text{ color: $green; }

.interface-interface-skeleton__content{
	width: 70% !important;
	flex-grow: unset !important;
}*/


