.block{
	position: relative;
	//height: 100%;
	
	.container{ @include globalMaxWidth(); }
	
} // end .block



#main-content{
	
	$fiftyClamp: clamp(30px, 3.47vw,50px);
	$oneSixtyClamp: clamp(110px, 11.11vw, 160px);
	
	.wp-block-columns,
	.block{
		margin-top: $fiftyClamp;
		
		&:first-child{ margin-top: $oneSixtyClamp; }
		
		&:last-child{
			padding-bottom: $fiftyClamp;
		}
	}
	
	.wp-block-columns{
		margin-top: 50px !important;
		
		&:first-child{ margin-top: $oneSixtyClamp !important;  }
		
		.wp-block-column{
			
			& + .wp-block-column{ 
				margin-top: 0px !important;
				
				@include until($tl){
					margin-top: 20px !important;
				}
					
			}
			
			.block{
				margin-top: 0; 
				
				&:first-child{ padding-top: 0; }
				&:last-child{ padding-bottom: 0; }
				
				.container{
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			} // end .block
		} // end .wp-block-column
	} // end .wp-block-columns
} // end #main-content

html :where(.wp-block){
	.block{
		.container{ @include smallerMaxWidthAdmin(); }
	} // end .block
}
