// button styling reset
button{
	background: transparent;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

// base button styling
@mixin btnBase() {
	padding: 7px 34px 12px 34px;
	border-radius: 20px;
	display: block;
	transition: .25s;
	text-decoration: none;
}

// different button stylings (solid, outline, etc.)
@mixin btnSolid() {
	@include btnBase();
	background: $white;
	border: 1px solid $white;
	color: $black;
	
	&:hover{
		background: $white;
		color: $black;
	}
}

@mixin btnOutline() {
	@include btnBase();
	background: transparent;
	border: 1px solid $white;
	color: $white;
	
	&:hover{
		background: $white;
		color: $black;
	}
}


.btn{

	a{ @include btnSolid(); }
	
	&.outline a{ @include btnOutline(); }
	
} // end .btn