// button styling reset
button{
	background: transparent;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

// base button styling
@mixin btnBase() {
	padding: 8px 34px 9px 34px;
	border-radius: 10px;
	display: inline-block;
	transition: .25s;
	text-decoration: none;
	@include robotoSlabReg();
	@include paraLg();
}

// different button stylings (solid, outline, etc.)
@mixin btnSolid() {
	@include btnBase();
	background: $greenLight;
	border: 1px solid $greenLight;
	color: $white;
	 cursor: pointer;
	
	&:hover{
		background: $white;
		color: $green;
		border-color: $green;
	}
}

@mixin btnOutline() {
	@include btnBase();
	background: transparent;
	border: 1px solid $white;
	color: $white;
	
	&:hover{
		background: $white;
		color: $black;
	}
}


.btn{

	a{ @include btnSolid(); }
	
	&.outline a{ @include btnOutline(); }
	
} // end .btn