.gdpr-banner{
	position: fixed;
	bottom: 0;
	left: 0;
	background: $blueLight;
	width: 100%;
	padding: 15px 0px;
	
	.banner{
		width: 100%;
		box-sizing: border-box;
		
		@include until($tp){
			text-align: center;
		}
		
		@include at-least($tp){
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
		@include until($tlp){
			padding-left: 15px;
			padding-right: 15px;
		}
		
		@include at-least($tlp){
			@include globalMaxWidth();
		}
		
		@include between($tlp, $d) {
			 padding-left: 0;
			 padding-right: 0; 
		}
		
		P:first-child{ margin-top: 0; }
		
		a{
			@include para();
			
			@include until($tp){
				margin-top: 15px;
			}
			
		} // end a
	} // end .banner
} // end .gdpr-banner