/*--------------------------------------------------------*/
/*-------------------- GLOBAL VARIABLES-------------------*/
/*--------------------------------------------------------*/
$spacerLarge: 75px;
$spacerMedium: 48px;

/*--------------------------------------------------------*/
/*--------------------- GLOBAL STYLES --------------------*/
/*--------------------------------------------------------*/

* {
	webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html,
body{
	background:$white !important;
	margin: 0;
	padding: 0;	
	@include latoBook();
	font-size: 16px;
	line-height: 24px;
	color: $grey;
}

.clear-fix{ clear:both; }

h1{ @include h1(); }
h2{ @include h2(); }
h3{ @include h3(); }
h4{ @include h4(); }

h1,h2,h3,h4,h5,h6{
	margin-top:0;
	margin-bottom:0;
}

p{	
	&:last-child{
		margin-bottom: 0;
	}
} // end p

ul{
	padding: 0;
	margin: 0;
}

a{
	outline: none !important;
	color: $blue;
}

.antispam{ display:none; }

a{
	position: relative;
	outline: none !important;
} // end a

strong{
	//@include robotoBold();
}

#main-content{
	padding-left: 25px;
	padding-right: 25px;
	
	@include at-least($tl){
		padding-left: 0;
		padding-right: 0;
		@include globalMaxWidth();
	}

} // end #wrapper

.wp-block-columns{
	
	@include until($tl){
		&:not(:last-child){
			margin-bottom: 0;
		}
	}	
	
	& + .wp-block-columns{
	}
	
}
