@import "menus/main-menu";
@import "nav-toggle";

header{
	position: relative;
	z-index: 1000;
	
	.header__content{
		display: flex;
		justify-content: space-between;
		
		@include until($tl){
			position: fixed;
			top: 0;
			left: -100vw;
			width: 100vw;
			height: 100%;
			overflow: scroll;
			background: $white;
			z-index: 1000;
			transition: .25s ease-in-out;
			
			&.active{ left: 0vw; }
			
		}	
		
		@include at-least($tl){
			//@include globalMaxWidth();
			padding-left: 0;
			padding-right: 0;
			margin-top: 10px;
			margin-bottom: 30px;
		}
		
	} // end .header__content
} // end header