a.logo,
.logo{
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 0;
	width: 159px;
	height: 88px;
	display: block;
	text-indent: -9999px;
} // end .logo