.logo{
	a{
		background: url(assets/imgs/logo-black.svg) no-repeat 0 0 transparent;
		background: 100% auto;
		width: 147px;
		height: 18px;
		display: block;
		text-indent: -9999px;
	}
} // end .logo