.block-how-i-think{
    
    .container{
        position: relative;
        text-align: center;
        
        .title{ display: inline-block; } // end .title
        
        p{
            max-width: 520px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
    } // end .container
    
} // end .block-carousel